.customer_text{
    font-size: 135px;
    background-color: #260242;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid white;
}
.customer_section{
      background-color: #521780; 
      height: 700px;
      text-align: center;   
      color: #fff;
      font-weight: bold;
      font-size:57px;
      padding:40px;
      

}
.customer_query{
    font-size: 40px;
    border-bottom: 2px solid white;

}